@font-face {
  font-family: 'KGothic';
  src: url('./fonts/K-Gothic.ttf') format('truetype');
}
* {
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-size: 2vmin;
}
body {
  font-weight: 400;
  font-family: 'KGothic', sans-serif;
}
a {
  text-decoration: none;
  color: #B9ECFC;
}
.container {
  max-width: 1920px;
  margin: 0 auto;
  padding: 2rem;
}
.navbar {
  background: #1C3563;
}
.navbar a {
  cursor: pointer;
}
.navbar a:hover,
.navbar a:focus {
  color: red;
}
.navbar .container {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.navbar .container div {
  color: #B9ECFC;
  display: flex;
  justify-content: space-between;
}
.navbar .container .navItems a {
  color: #FCC9B9;
  padding-right: 1rem;
}
.navbar .container .navItems a:hover,
.navbar .container .navItems a:focus {
  color: red;
}
.navbar .container .navItems #wordSearch {
  border-radius: 10px 0 0 10px;
  border-style: none;
  text-indent: 0.5rem;
  width: 5rem;
}
.navbar .container .navItems #submitBtn {
  padding: 0 0.3rem;
  border-radius: 0 10px 10px 0;
  border-style: none;
  font-size: 0.75rem;
}
.loginPageDiv {
  padding-top: 2rem;
  display: flex;
  height: 50vh;
}
.loginPageDiv div {
  height: 100%;
  background: grey;
  flex-grow: 1;
}
.loginPageDiv div:first-of-type {
  max-width: 55%;
  width: 55%;
  min-width: 50%;
}
.loginPageDiv div:nth-of-type(2) {
  border-left: 1px solid red;
  flex-grow: 1;
}
.loginPageDiv .login-form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.loginPageDiv .login-form .form-username,
.loginPageDiv .login-form .form-password {
  text-indent: 0.5rem;
}
.loginPageDiv .login-form input,
.loginPageDiv .login-form button {
  border-style: none;
  border-radius: 10px;
  font-size: 1.1rem;
}
.hiragana-page h2 {
  font-size: 3rem;
}
.hiragana-page .character-container {
  padding: 1rem 0 2rem;
  display: flex;
  justify-content: space-between;
}
.hiragana-page .character-container .character-card {
  width: 19%;
  max-width: 12rem;
  min-height: 16.4rem;
  background-repeat: no-repeat;
  background-size: cover;
  color: #B9ECFC;
  border-radius: 10px;
  text-align: center;
  position: relative;
  border: 0.3rem solid #1C3563;
}
.hiragana-page .character-container .character-card h3 {
  margin: 0;
  color: #1C3563;
  transform: translateY(-50%);
  display: inline-block;
  background: white;
  padding: 0.1rem 0.4rem;
  border-radius: 20px;
  font-size: 1.8rem;
  border: 0.3rem solid #1C3563;
}
.hiragana-page .character-container .character-card h2 {
  margin: 0;
  font-size: 8rem;
}
.hiragana-page .character-container .character-card .wordList {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background: #1C3563;
  width: 100%;
  display: flex;
  justify-content: center;
}
.hiragana-page hr {
  height: 0.4rem;
  background: grey;
  border: none;
  border-radius: 10px;
  margin-top: 1rem;
}
